@page
@model WebApp.Pages_Boats.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Boat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Boat.BoatId" />
            <div class="form-group">
                <label asp-for="Boat.Name" class="control-label"></label>
                <input asp-for="Boat.Name" class="form-control" />
                <span asp-validation-for="Boat.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Size" class="control-label"></label>
                <input asp-for="Boat.Size" class="form-control" />
                <span asp-validation-for="Boat.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.Amount" class="control-label"></label>
                <input asp-for="Boat.Amount" class="form-control" />
                <span asp-validation-for="Boat.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat.GameOptionId" class="control-label"></label>
                <select asp-for="Boat.GameOptionId" class="form-control" asp-items="ViewBag.GameOptionId"></select>
                <span asp-validation-for="Boat.GameOptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
